{% extends "pet_base.html" %}
{% block body %}
    <div class="center">
        {% for message in get_flashed_messages() %}
            {{ message }}
            <br />
        {% endfor %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.ownerName.label }}
            {{ form.ownerName }}
            <br />
            {{ form.petName.label }}
            {{ form.petName }}
            <br />
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}